include "~/.config/niri-generated.kdl"
include "rules.kdl"
include "binds.kdl"

input {
    focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth
}

layout {
    gaps 23
    center-focused-column "on-overflow"
    always-center-single-column

    focus-ring {
        off
    }

    border {
        on
        width 4
        inactive-color "#2e2e3eee"
        active-gradient from="#6186d6ee" to="#cba6f7ee" angle=180 relative-to="workspace-view"
    }

    insert-hint {
        color "rgba(42, 44, 54, 0.5)"
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.4
        proportion 0.5
        proportion 0.6
        proportion 0.66667
        proportion 0.8
    }

    default-column-width { proportion 0.8; }

    background-color "transparent"

    tab-indicator {
        width 10
        place-within-column
    }
}

prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

clipboard {
    disable-primary
}

blur {
    passes 3
    offset 4
    noise 0.02
    saturation 1.5
}

overview {
    workspace-shadow {
        off
    }
}

animations {
    on
    slowdown 1.5
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
}
